body {
    font-family: 'Lemonada', cursive;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-image: url("/public/images/onepiecebg.jpg");
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}